---

---

<div class="relative w-full bg-[#013173] rounded-b-4xl text-center pt-10 pb-0">
  <!-- Contenido del header -->
  <div class="pb-12">
    <div
      class="w-36 h-36 bg-white rounded-2xl mx-auto mb-4 flex items-center justify-center shadow-lg"
    >
      <img
        src="/images/logo-hills.png"
        alt="Hill's"
        class="w-full h-full object-contain p-2"
      />
    </div>
    
      <h1 class="text-white text-5xl font-gotham-custom font-black mb-1">Nutrición Terapéutica</h1>
      <p class="text-blue-200 text-2xl font-gotham-custom font-medium">
        que cambia la vida de tu mascota.
      </p>

    
  </div>

  <!-- Curva inferior SVG -->
  <!-- <div class="w-full overflow-hidden leading-none">
    <svg
      viewBox="0 0 1000 80"
      preserveAspectRatio="none"
      class="w-full h-16 block"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0,0 C250,80 750,80 1000,0 L1000,80 L0,80 Z" fill="#dfecfc"
      ></path>
    </svg>
  </div> -->
</div>
